@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Kalam:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --yellow: #fcdc4d;
  --navy: #313d5a;
  --coral: #f0544f;
  --dark-teal: #183642;
  --cream: #fdf0d5;
  --shadow: rgba(24, 54, 66, 0.1);
  --shadow-hover: rgba(24, 54, 66, 0.2);
}

body {
    display: grid;
    grid-template-columns: 1fr auto;
    min-height: 100vh;
    font-family: "Nunito", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    padding:1.25rem;
    background-color: var(--navy);
    color: var(--cream);
}

.sidebar-title {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-weight: 700;
    text-align: center;
    color: whitesmoke;
}

.sidebar-branding {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(6, auto);
    margin: 1.5rem 0;
}

.sidebar-navigation {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, auto);   
}

.sidebar-navigation li, .sidebar-branding li {
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.sidebar-navigation li:hover, .sidebar-branding li:hover {
  background-color: var(--yellow);
}

.sidebar-navigation a, .sidebar-branding a {
    text-decoration: none;
    color: var(--cream);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 18px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: all 0.3s ease;
}

.sidebar-navigation a:hover, .sidebar-branding a:hover {
  color: var(--dark-teal);
  font-family: 'Kalam', cursive;
  font-weight: 600;
}
.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    max-width: 100%;
}

.header {
    position: relative;     
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
    grid-area: 1 / 1 / 2 / 6;
    padding: 1rem 2rem;
    box-shadow:
      0 4px 6px rgba(0,0,0,0.12),
      0 12px 24px rgba(0,0,0,0.16);
  }
  

.search-form {
  display: flex;
}

.search-input {
  margin: 0 1rem;
  border-radius: 13px;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(128, 128, 128, 0.2); 
  border: 1px solid rgba(128, 128, 128, 0.5);
  color: var(--dark-teal);
}

.search-section {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    gap: 1.5rem;
    padding: 0.75rem 0;
}

.search-button, .notification-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.welcome-section {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1.5rem;
    padding: 0.75rem 0;
}
  
.user-profile-btn {
    position: relative;
    border-radius: 50%;
    background: none;
    border: 3px solid var(--navy);
    width: 54px;
    height: 54px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.profile-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border: 2px var(--dark-teal);
}

.user-profile-btn:hover {
    padding: 10px;
    background-color: var(--yellow);
    border-color: 1px black;
    transform: scale(1.05);
    box-shadow: 0 4px 15px var(--shadow-hover);
}


.user-profile-btn:hover .profile-image {
    transform: scale(1.1);
    border: 2px var(--dark-teal);
}

.username {
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem;
    font-weight: 700;

}

.profile-picture {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.mini-greetings {
    font-size: 0.95rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.profiles {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.action-buttons {
    display: flex;
    gap: 1em;
}

.btn {
    background-color: var(--navy);
    color: var(--cream);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 18px;
    width: 160px;
    height: 48px;
    justify-content: center;
}

.btn:hover {
    color: var(--dark-teal);
    font-family: 'Kalam', cursive;
    font-weight: 600;
    background-color: var(--yellow);
    transform: scale(1.05);
    box-shadow: 0 4px 15px var(--shadow-hover);
    cursor: pointer;
}

.projects-section {
    grid-area: 2 / 1 / 5 / 5;
    background-color: rgb(223, 225, 226);
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1.5rem;
}

.project-title {
    padding-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding-top: 0.5rem;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

.project-card {
    background-color: whitesmoke;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    flex-direction: column;
    padding: 1.5rem;
    box-shadow: 0 4px 15px var(--shadow-hover);
    border-left: 3px solid #490a1d;
    transition: all 0.3s ease;
}

.project-card:hover {
    background-color: var(--yellow);
    transform: translateY(-3%);
}

.project-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.project-actions button {
    border: none;
}

.project-card:hover .project-actions button {
    background-color: var(--yellow);   
    transition: all 0.4s ease; 
    transform: scale(1.25);
  }

  .content-sidebar {
    grid-area: 2 / 5 / 5 / 6;
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgb(223, 225, 226);
    padding: 1.5rem;
  }
 
  .Announcements {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: auto 1fr;
  }

  h3 {
    padding-bottom: 0;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
  
  .announcement-items {
    background-color: whitesmoke;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 15px var(--shadow-hover);
  }

  .announcement {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }

  .announcement.mid {
    padding: 1rem 0;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  }

  .Trending { 
    color: var(--cream);
  }
  
