@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rosybrown;
}


body {
    display: grid;
    grid-template-columns: 1fr auto;
    min-height: 100vh;
    font-family: "Inter", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    background-color: aquamarine;
    padding: 20px;
}

.sidebar-title {
    padding: 20px;
}

.sidebar-branding {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 15px;
    margin-bottom: 20px;
}

.sidebar-navigation {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, auto);   
    gap: 15px;
}

.sidebar-navigation a, .sidebar-branding a {
    text-decoration: none;

}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.header {
    display: grid;
    grid-template-rows:auto auto;
    background-color: crimson;
    grid-area: 1 / 1 / 2 / 6;
}

.projects-section {
  grid-area: 2 / 1 / 5 / 4;
      overflow: scroll;
}

.content-sidebar {
  grid-area: 2 / 4 / 5 / 6;
  display: grid;
  grid-template-rows: auto auto;
}

.search-section {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    gap: 20px;
}

.welcome-section {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.Announcements {
  overflow: scroll;
}

.Trending { 
  overflow: scroll;
}
