* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rosybrown;
}


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 2fr 8fr;
    background-color: aquamarine;
    padding: 20px 0;
}

.sidebar-title {
    padding: 0 20px 10px 20px;
}

.sidebar-branding {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    padding: 20px;
    height: 100%;
}

.sidebar-navigation {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
    height: 100%;
    
}